<div class="container">
  <div class="flex">
    <form action="" [formGroup]="taskForm" class="taskForm">
      <h3 class="new-task-heading">Add New Task</h3>
      <label for="title" class="label">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Enter Title"
        [formControl]="title"
        class="input"
      />
      <label for="desc" class="label">Description</label>
      <textarea
        id="desc"
        name="desc"
        rows="5"
        placeholder="Write Description . . ."
        [formControl]="desc"
        class="input textarea"
      ></textarea>
      <div class="in-form">
        <div class="in-in-form">
          <label for="duedate" class="label">Due Date</label>
          <input
            type="date"
            name="duedate"
            id="duedate"
            [formControl]="duedate"
            class="input"
          />
        </div>
        <div class="in-in-form">
          <label for="priority" class="label">Priority</label>
          <select
            name="priority"
            id="priority"
            [formControl]="priority"
            class="input"
          >
            <option value="" disabled>Select Priority</option>
            <option value="Low" default>Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
      </div>
      <label for="" class="label">Status</label>
      <div class="in-form">
        <div class="in-in-form2">
          <input
            type="radio"
            name="status"
            id="todo"
            class="input input-radio"
            value="ToDo"
            [formControl]="status"
          />
          <label for="todo">ToDo</label>
        </div>
        <div class="in-in-form2">
          <input
            type="radio"
            name="status"
            id="in-progress"
            class="input input-radio"
            value="In Progress"
            [formControl]="status"
          />
          <label for="in-progress">In Progress</label>
        </div>
        <div class="in-in-form2">
          <input
            type="radio"
            name="status"
            id="Done"
            class="input input-radio"
            value="Completed"
            [formControl]="status"
          />
          <label for="Done">Completed</label>
        </div>
      </div>
      <div class="flex">
        <button type="click" (click)="printdata()" class="btn">ADD Task</button>
      </div>
    </form>
    <!-- <p>new-task-form works!</p> -->
  </div>
</div>
