/* Header CSS */
.container {
  width: 100%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  background-color: rgb(0, 152, 152);
  color: white;
  height: 3rem;
}
.main-heading {
  font-size: 1.5rem;
}

/* For Mobiles and Small Screen Devices */
@media (min-width: 320px) {
  .main-heading {
    font-size: 1.3rem;
  }
}

/* For Tablet and Small Screen Laptops */
@media (min-width: 768px) {
  .main-heading {
    font-size: 1.5rem;
  }
}
